@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --bg-main: #DFD4E2;

  --text-primary: #502116;
  --text-secondary: #8E5A42;

  --accent-primary: #D2B0B3;
  --accent-secondary: #B78C87;

  --surface: #F3EDEE;
  --border: #CBBFC2;

  --gradient-main: linear-gradient(135deg, #D2B0B3, #8E5A42);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: 'Inter';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}